* {
    font-family: "Montserrate", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;

}

.Link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}


.Logo-image {
    width: 354px;
    height: 317px;
    margin-left:30px;
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 10px;
}
section {
    display: inline-block;
    margin-left: 86px;
}
h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 60.95px;
    color: #515151;
    
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    
}

p { 
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main{
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    color: #000000;
    filter: drop-shadow (0px 4px 4px rgba(0,0,0,0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-top: 10px;
}

@media screen and (max-widdth: 900px) {
    .left {
        padding: 40px;
        margin: 50px;
    }
} 
    header{
        display: none;
    }
    p {
        display: none;
    }
    h1{
        text-align: center;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 0em;
        
}
    img {
        
        border-radius: 50px;
        margin: 50px 50px 50px 50px;
       
}
    h2 {
        text-align: center;
        font-size: 30px;
        line-height: 36.57px;
        letter-spacing: 0em;
 }